<div class="container mt-5">
    <div class="yt-card">
        <a [routerLink]="['/home/watch', post()._id]">
            <div class="miniature-container mb-2">
                <img [src]="post().miniature" alt="video miniature" class="miniature img-fluid rounded">
            </div>
            <div class="row g-2">
                <div class="col-auto">
                    <a [routerLink]="['/profile/:id']">
                        <img [src]="post().author.avatar" alt="Channel Icon" class="channel-img">
                    </a>
                </div>
                <div class="col">
                    <h5 class="mb-1">{{ post().title }}</h5>
                    <a [routerLink]="['/profile/:id']" class="channel-name mb-1">{{ post().author.username }}</a>
                    <p class="video-stats mb-0">{{ post().date | date }}</p>
                </div>
            </div>
        </a>
    </div>
</div>