video{
    border-radius: 15px;
    width: 1200px; 
    height: auto;
}

.description{
    padding: 1.5rem;
    background-color: var(--hover);
    border-radius: 10px;
}

.rating {
    cursor: pointer;
}

.rating-option {
    cursor: pointer;
    
    &:hover {
        color: var(--link);
    }
}

.subscribe-button {
  background-color: var(--link);
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
    
    &:hover {
        background-color: var(--link-hover);
    }
}

.unsubscribe-button {
  background-color: var(--link-hover);
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
    
    &:hover {
        background-color: var(--link);
    }
}

.channel-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
}

.recommend-section{
    border-top: 1px solid var(--hover);
}

.comments {
    border: 1px solid var(--hover);
    border-radius: 10px;

    h2{
        padding: 1.3rem;
        border-bottom: 1px solid var(--hover);
    }
}

.comment-section {
    height: 90vh;
    overflow-y: auto;
    margin-right: 0.2rem;
}

.comment-text {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.input-area {
    border-top: 1px solid var(--hover);
    padding: 1rem;
}

.form-control {
    border: 0;
}