<div class="youllusion-wrapper">
    <!-- Top navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-2 fixed-top">
        <div class="container-fluid top-nav">
            <div class="d-flex align-items-center">
                <button
                    class="btn btn-outline-light border-0 me-2"
                    (click)="toggleSidebar()"
                >
                    <i class="bi bi-list fs-4"></i>
                </button>
                <a
                    [routerLink]="['/']"
                    class="navbar-brand d-flex align-items-center"
                    href="#"
                >
                    <i class="bi bi-0-circle text-warning fs-3"></i>
                    <span class="ms-1 fw-bold text-white">Youllusion</span>
                </a>
            </div>

            <!-- TODO MAKE THIS FUNCTIONAL FETCHING THE DATA WITH SEARCH VIA QUERY PARAMS (Search bar) -->
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                />
                <button
                    class="btn btn-outline-secondary search-btn"
                    type="button"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>

            @if(logged()){
                <div class="d-flex align-items-center">
                    <a
                        [routerLink]="['/video-upload']"
                        class="btn btn-outline-light border-0 ms-2"
                    >
                        <i class="bi bi-camera-video fs-5"></i>
                    </a>
                    <a
                        [routerLink]="['/settings']"
                        class="btn btn-outline-light border-0 ms-2"
                    >
                        <i class="bi bi-gear fs-5"></i>
                    </a>
                    <a
                        [routerLink]="['/profile/me']"
                        class="btn btn-outline-primary ms-2 rounded-circle user-avatar"
                    >
                        <img [src]="user()!.avatar" alt="" class="rounded-circle user-avatar"/>
                    </a>
                    <a (click)="logout()" class="btn btn-primary ms-2">
                        Logout
                    </a>
                </div>
            } @else {
                <div class="d-flex align-items-center">
                    <a [routerLink]="['/auth/login']" class="btn btn-primary ms-2">
                        Login
                    </a>
                </div>
            }
        </div>
    </nav>

    <div class="content-area">
        <div class="sidebar" [class]="{ collapsed: isMenuCollapsed() }">
            <div class="sidebar-menu">
                @for (item of navItems; track $index) {
                <div class="sidebar-item">
                    <a
                        [routerLink]="[item.route]"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="sidebar-link d-flex flex-column"
                    >
                        <div class="d-flex align-items-center">
                            <i [class]="item.icon"></i>
                            <span class="text-white ms-3">{{
                                item.label
                            }}</span>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>

        <div class="main-content" [class]="{ expanded: isMenuCollapsed() }">
            <div class="container-fluid p-3">
                <ng-content select="[routes]"></ng-content>
            </div>
        </div>
    </div>
</div>
