<div class="row mb-5">
    <div class="video col">
        <video [src]="post().post" controls></video>
        <h3>{{ post().title }}</h3>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <a [routerLink]="['/profile', post().author._id]">
                    <img
                        [src]="post().author.avatar"
                        alt="Channel image"
                        class="channel-img"
                    />
        
                    <span class="ms-2">{{ post().author.username }}</span>
    
                </a>

                <button class="ms-5 subscribe-button">Subscribe</button>
            </div>
            
            <div class="rating border border-1 rounded-pill p-2">
                <span class="rating-option m-2">
                    <i class="bi bi-hand-thumbs-up"></i> {{ post().likes.length }}
                </span>

                <span class="mx-2 border-start border-2" style="height: 1.5rem;"></span>

                <span class="rating-option m-2">
                    <i class="bi bi-hand-thumbs-down"></i> {{ post().dislikes.length }}
                </span>
            </div>
        </div>
        <p class="mt-3 description">{{ post().description }}</p>
    </div>
    <div class="comments col">
        <h2>Comments</h2>
        <div class="comment-section">
            @for(comment of this.comments(); track comment._id) {
                <div class="comment-header d-flex align-items-center mt-3">
                    <img
                        [src]="comment.author.avatar"
                        alt="Author avatar"
                        class="user-avatar rounded-circle"
                    />
                    <div class="comment-author-info ms-2">
                        <span class="comment-author-username">{{
                            comment.author.username
                        }}</span>
                        <small class="ms-4 comment-date">{{
                            comment.date | date : "short"
                        }}</small>
                    </div>
                </div>

                <small class="m-3 mt-5 comment-text">{{ comment.text }}</small>

                <div class="comment-actions d-flex align-items-center mt-2">
                    <span class="rating-option m-2">
                        <i class="bi bi-hand-thumbs-up"></i> {{ comment.likes.length }}
                    </span>

                    <span class="rating-option m-2">
                        <i class="bi bi-hand-thumbs-down"></i> {{ comment.dislikes.length }}
                    </span>
                </div>
            }
        </div>
        <div class="input input-group mb-3">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="commentText"
                (keydown.enter)="commentPost()"
                placeholder="Add a comment..."
            />
        </div>
    </div>
</div>

<home-page class="recommend-section row"></home-page>
