video{
    border-radius: 15px;
    width: 1200px; 
    height: auto;
}

.description{
    padding: 1.5rem;
    background-color: var(--hover);
    border-radius: 10px;
}

.rating {
    cursor: pointer;
}

.rating-option {
    cursor: pointer;
    
    &:hover {
        color: var(--link);
    }
}

.subscribe-button {
  background-color: var(--link);
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
    
    &:hover {
        background-color: var(--link-hover);
    }
}

.unsubscribe-button {
  background-color: var(--link-hover);
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
    
    &:hover {
        background-color: var(--link);
    }
}

.channel-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
}

.recommend-section{
    border-top: 1px solid var(--hover);
}

.comments {
    border: 1px solid var(--hover);
    border-radius: 10px;
    height: 80vh;

    h2{
        padding: 1.3rem;
        border-bottom: 1px solid var(--hover);
    }

    .input{
        margin-top: 1rem;
        border-top: 1px solid var(--hover);
        width:100%;
        background-color: var(--bg);
        padding: 0.5rem;

        input{
            background-color: var(--bg);
            color: white;
        }
        
    }
}
.comment-section {
    height: 60vh;
    overflow-y: auto;
    padding: 1.3rem;
    margin-right: 0.2rem;
}

.comment-text {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.input-group {
    .form-control {
        background-color: var(--bg);
        border: 0;
        color: white;
    
        &::placeholder{
            color: gray;
        }
        
        &:focus{
            outline: none;
            box-shadow: none;
        }
        
    }
}