<div class="container mt-5">
    <div class="yt-card">
        <a (click)="goToWatch(post()._id)">
            <div class="mb-2">
                <img [src]="post().miniature" alt="video" class="miniature img-fluid rounded">
            </div>
            <div class="row g-2">
                @if(post().author._id){
                    <div class="col-auto">
                        <a (click)="goToAuthor(post().author._id); $event.stopPropagation()">
                            <img [src]="post().author.avatar" alt="Channel Icon" class="channel-img">
                        </a>
                    </div>
                }    

                <div class="col">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">{{ post().title }}</h5>
                        
                        @if(post().price > 0) {
                            <i class="paid bi bi-currency-dollar text-success me-3"></i>
                        }
                    </div>

                    @if(post().author._id) {
                        <a (click)="goToAuthor(post().author._id); $event.stopPropagation()" class="channel-name mb-1">{{ post().author.username }}</a>
                    }

                    <p class="video-stats mb-0">{{ post().date | date }}</p>
                </div>
            </div>
        </a>
    </div>
</div>