<h2>Subscriptions</h2>
<hr>
@for(user of this.users(); track user._id) {

    <div class="d-flex justify-content-center">
        <a [routerLink]="['/profile', user._id]" >
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-3">
                        <img [src]="user.avatar" class="user-avatar"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex">
                                <h5 class="card-title">{{ user.username }}</h5>
                                <span class="ms-1"> - {{ user.subscribers.length }} subs</span>
                            </div>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <button class="unsubscribe-button">Unsubscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}