<div class="container">
    <div class="login-container">
        <div class="d-flex align-items-center">
            <img src="/images/favicon.jpg" class="app-logo" alt="App Logo">
            <h1 class="ms-3">Sign in</h1>
        </div>
       
        <div class="mt-3 ms-2">
            <form [formGroup]="loginForm" (ngSubmit)="login()" id="form-login">
                <div class="mb-3">
                  <label for="exampleInputEmail1"  class="form-label">Email address</label>
                  <input type="email" formControlName="email" placeholder="Email" class="form-control w-50">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>

                  @if(passwordType() === 'password'){
                    <i (click)="hideShowPassword()" class="ms-3 bi bi-eye-slash pointer"></i>
                  } @else {
                    <i (click)="hideShowPassword()" class="ms-3 bi bi-eye pointer"></i>
                  }

                  <input [type]="passwordType()" formControlName="password" placeholder="Password"  class="form-control w-50">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="login-footer mt-4">
                <p>Don't have an account? <a href="#">Create one</a></p>
                <p class="small mt-3">
                    By continuing, you agree to Youllusion's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                </p>
            </div>
        </div>
    </div>
</div>