/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --bg: #281D16;
    --hover: #594D46;
    --double-hover: #645952;
    --link: #F9B50B;
    --link-hover: #ca9307;
}

/* User avatar */
.user-avatar {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6366f1;
    color: white;
    font-weight: bold;
}  

.btn-primary {
    background-color: var(--hover);
    border: none;

    &:hover {
        background-color: var(--double-hover);
    }
}

.form-control {
    background-color: var(--bg);
    border-color: var(--hover);
    color: white;

    &:focus {
        background-color: var(--bg);
        color: white;
    }

    &::placeholder {
        color: gray;
    }
}