/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --bg: #281D16;
    --hover: #594D46;
    --double-hover: #645952;
}

/* User avatar */
.user-avatar {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6366f1;
    color: white;
    font-weight: bold;
}  