@if(profile()){
    <div class="profile-container">
        <div class="channel-header">
            <img
                class="avatar"
                [src]="profile()!.avatar"
                alt="{{ profile()!.username }}'s avatar"
            />
            <div class="channel-info">
                <h1>{{ profile()!.username }}</h1>
                <p>{{ subscribers() }} Subscribers</p>
                
                @if(!profile()!.me) {
                     @if(this.subscribed()) {
                        <button (click)="toggleSubscribe()" class="unsubscribe-button">Unsubscribe</button>
                    } @else {
                        <button (click)="toggleSubscribe()" class="subscribe-button">Subscribe</button>
                    } 
                }
            </div>
        </div>
    
        <div class="d-flex justify-content-end mt-4">
            <input 
                class="form-control align-self-end" 
                type="text" 
                placeholder="search"
                #searchInput
                [value]="searchTerm()"
                (input)="searchTerm.set(searchInput.value)"
            >
        </div>
        <hr class="mb-0">

        @if(profile()!.posts.length > 0) {
            <div class="videos-grid">
                @for (post of filteredPosts(); track post._id) {
                    <video-card [post]="post"></video-card>
                }
            </div>
        }
        @else {
            <p class="mt-4">This account has no posts</p>
        }
    </div>
}
