@if(profile()){
    <div class="profile-container">
        
        <div class="channel-header">
            <img
                class="avatar"
                [src]="profile()!.avatar"
                alt="{{ profile()!.username }}'s avatar"
            />
            <div class="channel-info">
                <h1>{{ profile()!.username }}</h1>
                <p>{{ subscribers() }} Subscribers</p>
                
                @if(!profile()!.me) {
                     @if(this.subscribed()) {
                        <button (click)="toggleSubscribe()" class="unsubscribe-button">Unsubscribe</button>
                    } @else {
                        <button (click)="toggleSubscribe()" class="subscribe-button">Subscribe</button>
                    } 
                }
            </div>
        </div>
    
        <div class="d-flex justify-content-end mt-4">
            <input class="form-control align-self-end" #searchInput type="text" placeholder="search" name="" id="">
        </div>
        <hr class="mb-0">

        @if(profile()!.posts.length > 0) {
            <div class="videos-grid">
                @for (post of profile()!.posts; track post._id) {
                    <video-card [post]="post"></video-card>
                }
            </div>
        }
        @else {
            <p>This account has no posts</p>
        }

    </div>
}
