<div class="youllusion-wrapper">
    <!-- Top navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-2 fixed-top">
        <div class="container-fluid top-nav">
            <div class="d-flex align-items-center">
                <button
                    class="btn btn-outline-light border-0 me-2"
                    (click)="toggleSidebar()"
                >
                    <i class="bi bi-list fs-4"></i>
                </button>
                <a
                    [routerLink]="['/']"
                    class="navbar-brand d-flex align-items-center"
                    href="#"
                >
                    <i class="bi bi-0-circle text-warning fs-3"></i>
                    <span class="ms-1 fw-bold text-white">Youllusion</span>
                </a>
            </div>

            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                    #searchInput
                    (keydown.enter)="search(searchInput.value)"
                />
                <button
                    class="btn btn-outline-secondary search-btn"
                    type="button"
                    (click)="search(searchInput.value)"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>

            @if(logged() && user()){
                <div class="d-flex align-items-center">
                    <a
                        [routerLink]="['/video/upload']"
                        class="btn btn-outline-light border-0 ms-2"
                    >
                        <i class="bi bi-camera-video fs-5"></i>
                    </a>
                    <a
                        [routerLink]="['/profile/update', user()!._id]"
                        class="btn btn-outline-light border-0 ms-2"
                    >
                        <i class="bi bi-gear fs-5"></i>
                    </a>
                    <a
                        [routerLink]="['/profile/me']"
                        class="btn btn-outline-primary ms-2 rounded-circle user-avatar"
                    >
                        <img [src]="user()!.avatar" alt="" class="rounded-circle user-avatar"/>
                    </a>
                    <a (click)="logout()" class="btn btn-primary ms-2">
                        Logout
                    </a>
                </div>
            } @else {
                <div class="d-flex align-items-center">
                    <a [routerLink]="['/auth/login']" class="btn btn-primary ms-2">
                        Login
                    </a>
                </div>
            }
        </div>
    </nav>

    <div class="content-area">
        <div class="sidebar" [class]="{ collapsed: isMenuCollapsed() }">
            <div class="sidebar-menu">
                @for (item of navItems; track $index) {
                    <div class="sidebar-item">
                        <a
                            [routerLink]="[item.route]"
                            routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{ exact: true }"
                            class="sidebar-link d-flex flex-column"
                        >
                            <div class="d-flex align-items-center">
                                <i [class]="item.icon"></i>
                                <span class="text-white ms-3 nowrap">{{
                                    item.label
                                }}</span>
                            </div>
                        </a>
                    </div>
                }
                <!-- TODO: Add admin role routes here -->
            </div>
        </div>

        <div class="main-content" [class]="{ expanded: isMenuCollapsed() }">
            <div class="">
                <ng-content select="[routes]"></ng-content>
            </div>
        </div>
    </div>
</div>
