.youllusion-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color:white;
}

.navbar {
  background-color: var(--bg) !important;
}

.nowrap {
    white-space: nowrap;
}

.search-container {
  max-width: 640px;
  width: 100%;

  .input-group {
    height: 40px;
  }
}

.content-area {
  display: flex;
  margin-top: 56px;
  min-height: calc(100vh - 56px);
}

.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  background-color: var(--bg);
  transition: width 0.3s;
  overflow-y: auto;
  overflow-x: hidden;

  &.collapsed {
    width: 50px;
  }

  .sidebar-menu {
    padding: 12px 0;
  }

  .sidebar-item {
    padding: 8px;
    .sidebar-link {
      text-decoration: none;
      color: #606060;
      padding: 8px;
      border-radius: 10px;
      transition: background-color 0.2s;

      i {
        font-size: 20px;
      }

      span {
        font-size: 12px;
      }

      &:hover {
        background-color: var(--hover);
      }
    }
  }
}

.main-content {
  margin-left: 240px;
  flex: 1;
  padding: 16px;
  transition: margin-left 0.3s;
  background-color: var(--bg);

  &.expanded {
    margin-left: 50px;
  }
}

.input-group {
    width: 600px;
    
    .btn {
        border-color: var(--hover);
        background-color: var(--hover);
        border-radius: 20px;
        width: 60px;
        color: white;
        &:hover{
            background-color: var(--double-hover);
        }
    }

    .form-control {
        background-color: var(--bg);
        border-radius: 20px;
        border-color: var(--hover);
        color: white;
    
        &::placeholder{
            color: gray;
        }
        
    }
}

.active-link {
    background-color: var(--hover);

    &:hover {
        background-color: var(--double-hover) !important;
    }
}